*{
 padding: 0;
 margin: 0;
}
body{
 background-color: #000;
 color: #fff;
 line-height: 3em;
}
.table{
 display: flex;
 justify-content:space-evenly;

 text-align: center;
}
.text{
 text-transform: capitalize;
 text-align: center;
 background-color: none !important;
}

.table h1{
 background-color: aqua;
}
.first{
 border: 1px solid aqua;

}


.third {
 border: 1px solid aqua;
}
.second h1{
 background-color:red ;

}
.second p{
 background: #fff;
 color: #000;
}
.second label{
 background-color: red;
 color: #fff;
 text-transform: capitalize;
width:8em;
height: 2em;
}
.second{
 border: 1px solid red;

}
.first label{
 background-color: #fff;
 color: #000;
 text-transform: capitalize;
 width: 5em;
}
.third label{
 background-color: #fff;
 color: #000;
 text-transform: capitalize;
 width: 5em;
}